{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="col-md-7">
</div>

<div class="col-md-5">
  <div class="brand top-brand">
    <div class="navn">
      MARTE
      <img src="{% static 'img/heart.svg'%}" class="heart-svg" />
      HÅVARD
    </div>
    <div class="time-place">
      4.6.2022 OSLO
    </div>
  </div>
</div>
<div class="col-md-12 bottom-brand">
  <div class="brand">
    <div class="navn">
      MARTE
      <img src="{% static 'img/heart.svg'%}" class="heart-svg" />
      HÅVARD
    </div>
    <div class="time-place">
      4.6.2022 OSLO
    </div>
  </div>
</div>


{% endblock %}
