{% extends "base.html" %}
{% load staticfiles%}


{% block content %}

<div class="col-md-7">
</div>

<div class="col-md-5">
  <div class="brand top-brand">
    <div class="navn">
      GRETA
      <img src="{% static 'img/heart.svg'%}" class="heart-svg" />
      STEINAR
    </div>
    <div class="time-place">
      3.8.2019 RANDESUND KIRKE
    </div>
  </div>
</div>
<div class="col-md-12 bottom-brand">
  <div class="brand">
    <div class="navn">
      GRETA
      <img src="{% static 'img/heart.svg'%}" class="heart-svg" />
      STEINAR
    </div>
    <div class="time-place">
      3.8.2019 RANDESUND KIRKE
    </div>
  </div>
</div>


{% endblock %}
