@font-face {
  font-family: "Rainy Days";
  src: url('/static/fonts/RainyDays.ttf');
}

.navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
justify-content: space-between;
}
.navbar-light .navbar-nav .nav-link {
  font-size: 20px;
  color: black;
  opacity: 1;
  margin-top: 20px;
  padding-top: auto;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
}
.nav-link:hover {
  color: black;
  text-decoration: underline;
}
.navbar-brand {
  margin-top: 20px;
  margin-left: 20px;
}


.text-main {
  background-color: #f9fcfc;
  padding: 5em;
  border-radius: 0.5em;
}

.img-marteoghavard {
    max-width: 60%;
    height: auto;
}

.overskrift h2{
    color: black;
    font-size: xx-large;
}

.overskrift h4{
    color: black;
    font-size: x-large;

}

.blog-header a:hover{
    text-decoration: none;
}

.wedding-footer {
    background: #292929;
}
.wedding-footer-text{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}
.wedding-post {
    margin-bottom: 0px;
}
.wedding-post-img {
    width: 70%;
}
.wishlist-img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    padding-right: 2em;
}
.wish-already-bought {
    color: red;
}



.brand {
  position: absolute;
  left: 5px;
  top: 200px;
  font-family: "Rainy Days";
}
.navn {
  font-size: 2.7em;
  font-weight: bold;
}
.navbar-svg {
  fill: #c85e72;
}
.name-symbol {
  height: 52px;
  vertical-align: sub;
  fill: #c85e72;
}
.name-symbol-mobile {
  height: 52px;
  vertical-align: middle;
  fill: #c85e72;
}
.time-place {
  letter-spacing: 0.3em;
  font-size: 1.3em;
}

.bottom-brand {
  display: none;
}
.background-overlay-123 {
  background: rgba(12,34,56);
  opacity: 0.5;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}
html, body {
    height: 100%;
}
html {
    overflow-y: hidden;
}
body {
    overflow-y: scroll;
}
body {
    background: url(../img/utsikt_oss.jpg) no-repeat center fixed;
    background-size: cover;
    background-position: 55% 0%;
    font-family: "Gill Sans", sans-serif;
}


@media screen and (max-width: 1900px) {
  .brand {
    color: white;
  }
}

@media screen and (max-width: 600px) {
    .overskrift h4{
        visibility: hidden;
        display: none;
    }
    .overskrift h2{
    position
    }
    .nav {
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float: none;
        justify-content: space-between;
    }
}

@media screen and (max-width: 992px) {
  body {
      background: url(../img/utsikt_oss.jpg) no-repeat center;
      background-size: cover;
      background-position: 55% 0%;
  }
  .navbar {
    padding: 0;
    margin
  }
  .navbar-toggler {
    margin-right: 20px;
    margin-top: 10px;
  }
  .navbar-brand {
    margin-top: 10px;
  }
  .navbar-nav {
    background-color: white;
    opacity: 0.8;
    text-align: center;
  }
  .bottom-brand {
    display: block;
  }
  .top-brand {
    display: none;
  }
  .brand {
    width: 100%;
    position: fixed;
    bottom: 2em;
    top: auto;
    color: white;
    text-align: center;
    z-index: -1;
  }
  .navn {
    font-size: 1.8em;
  }
  .time-place {
    letter-spacing: 0.24em;
    font-size: 1em;
  }
  .text-main {
    padding: 1em;
    border-radius: 0em;
  }
  .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
  }
}




/* The actual timeline (the vertical ruler) */
.schedule {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }


  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    width: 80%;
  }

  .schedule-time {
    border-right: solid #e76c90 6px;
    padding: 40px 30px;
    text-align: right;
  }

  /* The circles on the timeline */
  .schedule-time::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    right: -16px;
    background-color: white;
    border: 4px solid #e76c90;
    top: 40px;
    border-radius: 50%;
    z-index: 1;
  }

  /* The actual content */
  .schedule-info {
    padding: 30px 30px;
    position: relative;
    border-radius: 6px;
  }

@media screen and (max-width:992px){

    h1 {
        font-size: 1.5rem;
    }
    .schedule-time {
        max-width: 20%;
        padding: 40px 0px 30px 0px;
        text-align: center;
    }
    .schedule-info {
        max-width: 80%;
    }
}
